<table class="table table-bordered table-hover text-center ec-genre-list" >
   <tr>
     <td>
       <%= link_to "ジャンル検索", foods_path, class:"ec-genre-list-item" %>
     </td>
   </tr>

        <% genres.each do |genre| %>
        <% if genre.is_genres_status == true %>
    <tr>
      <td>
        <%= link_to genre.name, admin_genre_path(genre.id), class:"ec-genre-list-item"%>
      </td>
    </tr>
        <% end %>
       <% end %>
</table>