<div style="background-image: url('chocolate-cake-g9102542af_1920.jpg'); background-size: cover; background-position: center; height: 300px;">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 style="color: white;">テキスト</h1>
      </div>
    </div>
  </div>
</div>






<div class=""></div>
<!--画像-->

</div>

<div class="row">
  <div class="col-xs-2">
    <!--ジャンル検索のサイドバー -->
    <%#= render "public/homes/shared/genre", genre: @genres %>
  </div>
</div>

<div class="col-xs-9 col-xs-offset-1">
  <h4 style="font-family:"
  ようこそ。ながのCAKEへ！<br>
    このサイトは、ケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。<br>
    </h4>
  
</div>




