<%= stylesheet_link_tag '_footer' %>
<footer>
  <div class='container pt-5'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<p>© nagano cake EST.1971</p>
    	</div>
    </div>
  </div>
</footer>